@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');

:root {
/* 000000-14213d-fca311-e5e5e5-ffffff */
    --preto: #000000;
    --azulmarinho: #14213d;
    --laranja: #fca311;
    --cinza: #e5e5e5;
    --branco: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
    padding-bottom: 20px;
}

#embaixotitulo {}

h3 {

}

.cor {
    color: #fca311;
}

body{
    background-color: #ffffff;
     
}

.fundo {
    background-color: var(--azulmarinho);
    padding: 20px;
    border-bottom: 10px solid var(--cinza);
}

#nav-links ul {
list-style-type: none;
margin-top: 30px;
padding-bottom: 20px;
}

#nav-links li {
display: inline-block; 
padding-left: 10px;
}

a {
font-family:"Press Start 2P", system-ui;
font-weight: 4;
font-size: 10px;
font-style: normal;
background-color: #e5e5e5;
color: var(--azulmarinho);
border-radius: 5px;
padding: 10px 10px;
}

a:hover {
  color: var(--laranja);
  box-shadow: 0 0 8px var(--preto)

}

footer {
    color: #fca311;
    background-color: var(--azulmarinho);
    padding: 20px;
    border-top: 10px solid var(--cinza);
    border-bottom: 10px  solid var(--azulmarinho);
}