@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap");

:root {
  /* f4e285-8541a0-d683d4-14213d-9cf6f6 */
  --amarelo: #f4e285;
  --roxo: #8541a0;
  --rosa: #d683d4;
  --azul: #14213d;
  --ciano: #9cf6f6;
}

/* css reset */
/* margin: espaçaemnto externpo */
/* padding: espaçamento interno */

*{
margin: 0; 
padding: 0;
box-sizing: border-box;

}

h1,
h2,
h3 {
  font-family: "Cinzel", serif;
  color:var(--amarelo);
}

body {
  font-family: "Garamond", serif;
  background-color: rgb(255, 254, 239);
  padding-left: 10px; 

}
p {
  color:;
}

table {
}

footer {
}

img {
height: 20rem; 
width: 20rem;
border-radius: 50%;

}
/* top right bottom left */
.fundoimg {
  background-image: url("https://thumbs.dreamstime.com/b/fundo-amarelo-da-flor-110578784.jpg");
}

#nav-links ul {
list-style-type: none;
margin-top: 30px;
}

#nav-links li {
display: inline-block; 

}

a {
  text-decoration: none;
  font-weight: bold;
  color: var(--roxo);
  background-image: url("https://cdn.pixabay.com/photo/2016/03/02/21/31/chess-1233157_1280.jpg");
  border-radius: 0px 10px;
  padding: 10px;
}

a:hover {
  color: var(--roxo);
  box-shadow: 0 0 8px var(--ciano)

}

.fundo {
  background-color: var(--roxo);
  border-radius: 5px;
}







/* seleção de id é só pra coisas unicas no codigo coom # */

/* classe: (tem que ter um ponto no começo o nome) é só pra um item em específico; */

/* pra uma parte em especifoc do texto : tag span;    */

/* seleção de elementos em especifico de uma determinada classe */

/* CSS externo^^  */